<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Dating App</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-nav" *ngIf="loggedIn()">
            <li routerLinkActive="active"><a [routerLink]="['/members']">Matches</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/lists']">Lists</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/messages']">Messages</a></li>
          </ul>

          <form *ngIf="!loggedIn()" #loginForm="ngForm" class="navbar-form navbar-right" (ngSubmit)="login()">
            <div class="form-group">
              <input class="form-control" #username="ngModel" required name="username" [(ngModel)]="model.username" type="text" placeholder="Email">
            </div>
            <div class="form-group">
              <input class="form-control" #password="ngModel" required name="password" [(ngModel)]="model.password"  type="password" placeholder="Password">
            </div>
            <button class="btn btn-success" [disabled]="!loginForm.valid" type="submit">Sign in</button>
          </form>

      <ul *ngIf="loggedIn()" class="nav navbar-nav navbar-right">
        <li class="dropdown" dropdown>
          <a (click)="false" class="dropdown-toggle" dropdownToggle>Welcome {{authService.decodedToken?.unique_name | titlecase}} <span class="caret"></span></a>
          <ul class="dropdown-menu" *dropdownMenu>
            <li><a href="#"><i class="fa fa-user"></i>Edit Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a></li>
          </ul>
        </li>
      </ul>


        </div><!--/.navbar-collapse -->
      </div>
    </nav>

